In [0]:
df = spark.createDataFrame(data = [('25' , '07' , '1982')] , schema = ['day' , 'month' , 'year'])
df.printSchema()
df.show()

In [0]:
from pyspark.sql.functions import col, concat
df.selectExpr( " to_date( day || '-'||  month || '-' ||  year , 'dd-MM-yyyy' ) as date " ).show()

In [0]:
from pyspark.sql.functions import col, concat_ws ,to_date

col_expr = to_date (concat_ws('-' , col('year') , col('month') , col('day')) , 'yyyy-MM-dd')

print(f"Type -  {col_expr} ")

df.select(col_expr.alias("date")).display()

In [0]:
df = spark.createDataFrame(data = [('sanjay' , 'kalra' , 25 , 'July' , 1982 , 19408.98 )] ,
                            schema = ['first_name' , 'last_name' , 'day' , 'month' ,'year' , 'salary'])

df.display()

In [0]:
from pyspark.sql.functions import format_number , format_string
salary_fmt = format_number('salary' , '$###,###.##').alias("salary")
text_fmt = format_string("Mr. %s %s was born on %d %s of %d.",
                         "first_name" , "last_name" , "day" , "month" , 'year').alias("Emp Descrip")

df.select(text_fmt,salary_fmt).show(truncate=False)